* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size : 14px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dbg {
    border: 1px dotted red;
}

.allobj {
    flex-shrink: 0;
    box-sizing: border-box;
}

.container {
    display : flex;
    flex-direction: column;
    height: 100%;
    overflow:hidden;
}

.navbar {
    display: flex;
    align-items: center;
    padding:60px;
    height: 60px;
}

.imgcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-height: 290px;
    height: calc(100% - 560px);
    min-height: 92px;   
}

.imgbox{
    display:block;
    max-height:100%;
    position:relative;
    margin-top: auto;
}

.imglogo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

