/* button style */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* 배경색 변경 : 
1. 버튼을 클릭할 때 js 코드로 active 속성 추가
2. hover시.... 단순 반응
*/
.active, .accordion:hover {
    background-color: #ccc;
}

  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}