* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width:100%;
    height: 20px;
    padding: 2px;
    border: 0px solid lightgrey;
}

.panel {
    display: none;
    width: 100%;
    height: 100px;
}

.active {
    background-color: lightslategray;
    border: 0px solid lightslategray;
}
