* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  border-style: 100vh;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;
}
#nav a {
  margin-right: 0.8rem;
}

#nav a.topimage {
  width: 20px;
  height: 20px;
  background: gray;
  border-radius: 50%;
}
#middle {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  text-align: center;
}

#searchbarcontainer {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
#searchbar {
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: 1px solid rgb(106, 106, 106);
}

#searchbar:hover {
  box-shadow: 0 0 10px 2px rgb(237, 237, 237);
}

#search,
#voice {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  left: 10px;
}

#voice {
  right: 10px;
}
#buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15x 10px;
  cursor: pointer;
  border-radius: 3px;
  background: rgb(201, 201, 201);
}

#links {
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#footer {
  background: rgb(180, 180, 180);
  border-top: rgb(106, 106, 106);
}
#footer-content {
  background: rgb(180, 180, 180);
  border-top: rgb(106, 106, 106);
}
