* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(124, 124, 124);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dbg {
  border: 0px dotted red;
}

.navbar {
  margin-top: 0.5em;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.navbar > .navbarleft {
  float: left;
  margin-left: 1em;
  line-height: 48px;
}
.navbar > .navbaright {
  float: right;
  margin-right: 1em;
  line-height: 48px;
  position: relative;
}

.navbar ul > li {
  list-style-type: none;
  float: left;
  margin: 0 0.5em;
}

li > a {
  text-decoration: none;
}

.gb_app {
  width: 48px;
  height: 48px;
  border: 0px solid #000;
  border-radius: 24px;
}

.gb_app:hover {
  cursor: pointer;
  background-color: lightgray;
}

#profileimg {
  width: 48px;
  height: 48px;
  border: 0px solid #000;
  border-radius: 24px;
}

.wrapper {
  height: calc(100vh - (11vh + 48px + 1em));
  overflow: hidden;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.search {
  width: 600px;
  min-width: 400px;
  max-width: 650px;
  margin: 0 auto;
}

.searchbar {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 30px;
}
.searchbar:hover {
  box-shadow: 0 1px 6px rgb(33 33 33 / 28%);
}

.searchbar i {
  width: 15px;
  height: 15px;
  color: #a5a5a5;
}

.searchbar input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.search-buttons button {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  color: #404040;
  font-size: 0.9em;
  text-align: center;
  padding: 10px 16px;
  margin: 0 1em;
  cursor: pointer;
}

.offered-in {
  margin-top: 50px;
}

button:hover {
  background-color: #eeeeee;
  border: 1px solid #cdcdcd;
}

footer {
  bottom: 0;
  background-color: #eeeeee;
  height: 11vh;
}

.location {
  padding: 1em;
  border-bottom: 1px solid #cdcdcd;
}

.footmenu ul > li {
  list-style-type: none;
  float: left;
  margin: 0 1.2em;
}

.footmenuleft {
  float: left;
  height: 4vh;
  padding-top: 1em;
}

.footmenuright {
  float: right;
  height: 4vh;
  padding-top: 1em;
}
